@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

:root {
  --font1: "Roboto", sans-serif;
  --letterSpacing: 0.7px;
  --boxSize1: 600px;
  --boxSize2: 400px;
  --boxSize3: 200px;
  --boxSize4: 180px;

  --slideMenuColor1: #111111;
  --slideMenuColor2: #333333;
  --slideMenuColor3: #808080;
  --slideMenuColor4: #99a3a3;
  --slideMenuColor5: #788b8b;
  --slideMenuColor6: #dda0dd;

  --optionColor: #e0e0e0;
  --contentColor: #b0b0b0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--slideMenuColor4);
  font-family: var(--font1);
}

/* PAGE CONTENT: START */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  color: var(--slideMenuColor1);
  font-size: 30px;
  margin: 30px auto;
}

.box {
  background-color: var(--slideMenuColor3);
  color: var(--slideMenuColor4);
  font-size: 72px;
  height: var(--boxSize1);
  width: var(--boxSize1);
  line-height: var(--boxSize1);
  text-align: center;
  margin-bottom: 20px;
} /* PAGE CONTENT: END */

/* HAMBURGER ICON: START */
.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  background-color: var(--slideMenuColor4);
  color: var(--slideMenuColor1);
  padding: 8px 16px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  z-index: 1000;
  transition: color 0.7s ease;
} /* HAMBURGER ICON: END */

.menu-toggle:hover {
  background-color: var(--slideMenuColor5);
}

/* MENU CONTENT: START */
.sliding-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: var(--slideMenuColor2);
  padding: 20px 40px 20px 20px;
  transition: right 0.3s ease;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sliding-menu::-webkit-scrollbar {
  display: none;
}

.sliding-menu.active {
  right: 0;
}

.sliding-menu h2 {
  color: var(--slideMenuColor6);
  font-size: 20px;
  letter-spacing: var(--letterSpacing);
  margin: 32px 0;
}

.optionHeading {
  color: var(--optionColor);
  font-size: 16px;
  letter-spacing: var(--letterSpacing);
}

.sliding-menu p {
  color: var(--contentColor);
  font-size: 15px;
  letter-spacing: var(--letterSpacing);
  margin: 2px 0 20px 0;
} /* MENU CONTENT: END */

/* MEDIA QUERIES */
@media only screen and (max-width: 680px) {
  .box {
    height: var(--boxSize2);
    width: var(--boxSize2);
    line-height: var(--boxSize2);
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    text-align: center;
    margin: 60px 0 20px 0;
  }

  .box {
    height: var(--boxSize3);
    width: var(--boxSize3);
    line-height: var(--boxSize3);
  }
}

@media only screen and (max-width: 320px) {
  .sliding-menu {
    right: -250px;
    width: 250px;
  }
}

@media only screen and (max-width: 270px) {
  .box {
    height: var(--boxSize4);
    width: var(--boxSize4);
    line-height: var(--boxSize4);
  }

  .sliding-menu {
    right: -180px;
    width: 180px;
  }

  .optionHeading {
    font-size: 15px;
  }

  .sliding-menu p {
    font-size: 14px;
  }
}
